body {
  font-family: Arial, sans-serif;
  margin: 20px;
}


h1 {
  text-align: center;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 8px 18px;
  font-size: 16px;
  background-color: #f26522;
  color: #FFF;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #FF8000;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

#dataTable {
  margin-top: 20px;
}

#dataTable th, #dataTable td {
  min-width: 120px;
}

#confirmBtn, #editBtn {
  display: block;
  margin: 20px auto;
}

#dropdown1 {
  margin-bottom: 10px;
}

#project {
  margin-top: 10px;
}

/* Additional styles for elements with specific IDs */

#name,
#Motive,
#day,
#year,
#month,
#hours {
  
}

textarea {
  display: inline-block;
  width: 600px; 
  vertical-align: top; 
}
button {
  margin-top: 10px; /* Adjust this value as needed */
}
    /* Add the following CSS to position the GIF at the top */
    .gif-container {
      position: relative;
      width: 600px;
      height: 200px; /* Adjust the height as needed */
      overflow: hidden;
    }

    .gif {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: play-once 1s forwards; /* Play the GIF only once and keep the last frame */
    }

    @keyframes play-once {
      to {
        visibility: visible;
      }
    }
  .form-container {
    position: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
	background-color: rgba(255, 255, 255, 0.7);
    background-image: url("YellowInt.png"); /* Replace with the correct path to your background image */
    background-size: cover;
    background-repeat: no-repeat;

    /* Set the background color without affecting opacity */
  }

  /* Pseudo-element to create the transparent overlay */
  .form-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none; /* Allow clicks to pass through the overlay to the form elements */
  }